# Build artifacts
build/
*.so
*.o
*.out
*.a
*.dll
*.dylib
*.exe

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Environment folders
venv/
env/
*.egg-info/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store

# Test artifacts
*.log
*.txt
failed_case_*.txt
